* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* width */
/* ::-webkit-scrollbar {
    width: 10px;
    background: #1ABC9C; 
  } */

/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  } */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #1ABC9C; 
    border-radius: 5px;
  } */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #fbfffe; 
  } */
.clear {
    clear: both;
}

.navbar {
    background-color: #2C3E50;
    width: 100vw;
    color: white;
    height: 100px;
    font-weight: 500;
    padding-top: 40px;
    position: fixed;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.navbar .start {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
    display: inline-block;
}

.menu {
    float: right;
}

.menu a {
    text-decoration: none;
    margin-left: 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.main {
    background-color: #1ABC9C;
    height: 80vh;
    text-align: center;
    padding-top: 100px;
}

.main .image {
    width: 230px;
    margin-left: 42%;

}

.main .image {
    padding-top: 150px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: white;
    margin-top: 20px;
}

.icon-area {
    font-size: 40px;
    color: white;
}

.subtitle {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.titlep {
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 80px;
    letter-spacing: 3px;
    color: #2C3E50;
    text-align: center;

}

.icon-area-porfolio {
    font-size: 40px;
    color: #2C3E50;
    text-align: center;
}

.cards {
    margin-top: 30px;

}

.card-item1 {
    width: calc(33.3% - 20px);
    margin: 10px;
    float: left;
}

.item1 {
    background-image: url(../Images/cabin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 28vh;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
   
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.item1 i {
    font-size: 100px;
    color: white;
    font-weight: 900;
    visibility: hidden;
}

.item1:hover {
    background-image: linear-gradient(#1abc9c9a, #1abc9cb7), url(../Images/cabin.png);
}

.item1:hover i {
    visibility: visible;
}

/* .item2 {
    background-image: url(../Images/cabin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 25%;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    display: block;
} */

#about{
    height: 50vh;
    background-color: #1ABC9C;
    margin-top: 100px;
}
.title-about{
    text-align: center;
    font-size: 40px;
    color: white;
}
.title-about h2{
    font-family: 'Montserrat', sans-serif; 
    padding-top: 60px;
    font-weight: 800;
}
.divide-line1 ,.divide-line2{
    width: 100px;
    background-color: white;
    border: 2px solid white;
    display: inline-block;
    margin-bottom: 15px;
}
.area-p{
    margin-top: 30px;
    font-size: 24px;
    color: white;
    line-height: 30px;
    /* text-align: center; */
    display: block;
}
.area-p .p1{
  width: 40%;
  float: left;
}
.area-p .p2{
    width: 40%;
    float: right;
  }
.download{
    margin-top: 50px;
    text-align: center;
    color: white;
}
.download p{
    display: inline-block;
    font-size: 15px;
}
.download i{
    font-size: 30px;
}
.download-button{
    background-color: #1ABC9C;
    border: 3px solid white;
    width: 190px;
    height: 60px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    transition: all .3s ease;
}
.download-button:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
}
.contact-title{
    text-align: center;
    font-size: 40px;
    color: #2C3E50;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
    margin-top: 50px;
}
.contact .divide-line11 ,.divide-line22{
    width: 100px;
    display: inline-block;
    margin-bottom: 15px;
    border: 2px solid #2C3E50;
}
#contact-area{
    height: 80vh;
}
.input-area label{
    font-size: 20px;
    display: block;
    margin-left: 100px;
    margin-top: 40px;
}
.input-area{
    padding-top: 30px;
}
.input-area .name{
    margin-left: 100px;
    display: block;
    width: 70%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #1ABC9C ;
    color: #1ABC9C;
    padding-top: 80px;

}
.textarea{
    width: 70%;
    display: block;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid #1ABC9C ;
    
}
.send{
    width: 90px;
    height: 50px;
    background-color: #51ccb3;
    /* cursor: pointer; */
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif; 
    display: block;
}

.location-area{
    margin-top: 200px;
    height: 30vh;
    background-color: #2C3E50;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px;
    line-height: 30px;
}
.area1{
    float: left;
    color: white;
}
.location{
    float: left;
    width: 33%;;
}
.location .drive{
    margin-top: 30px;
    font-size: 20px;
}
.around{
    float: left;
    width: 33%;  
}
.around .icons{
    margin-top: 30px;
}
.facebook ,.twitter,.instagram,.linkedin{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    transition: all .5s ease;
}
.facebook:hover{
    color: #1A252F;
    background-color: white;
}
.twitter:hover{
    color: #1A252F;
    background-color: white;
}
.instagram:hover{
    color: #1A252F;
    background-color: white;
}
.linkedin:hover{
    color: #1A252F;
    background-color: white;
}
.freelancer{
    float: left;
    width: 33%; 
}
.freelancer p{
    margin-top: 30px;
    font-size: 20px;
}
.freelancer p a{
  color: #1ABC9C;
}
.copyrigt{
    background-color: #1A252F;
    display: block;
}
.copy-text{
    background-color: #1A252F;
    height: 6vh;
    text-align: center;
    padding-top: 13px;
    color: white;
}